<div class="row-fluid-wrapper row-depth-1 row-number-2 main_content-row-1-padding dnd-section main_content-row-1-force-full-width-section">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
        <div id="hs_cos_wrapper_main_content-dnd_partial-2-module-1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
          <div id="main_content-dnd_partial-2-module-1" class="lazy module-wrapper theme-text-and-image-wrapper vertical-align--middle placement--right placement-mobile--above ">
            <div class="module-wrapper__background"></div>
            <div class="module-wrapper__inner">
              <div class="theme-image widget-span span6">
                <img src="img/two-col-img-right.png" alt="" width="1128" height="888" class="animate animate--fade-right animate--active" loading="lazy" sizes="(max-width: 1128px) 100vw, 1128px">
              </div>
              <div class="theme-rich-text widget-span span6 text--left lists--image">
                <div class="theme-rich-text__main">
                  <p class="eyebrow">
                    <span class="eyebrow__part">OUR MISSION</span>
                  </p>
                  <h2 class="theme-rich-text__heading"> Drag and Drop Made Easier by HubSpot Experts </h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.</p>
                  <h3 class="h6">Lorem ipsum dolor sit amet:</h3>
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</li>
                    <li>Donec odio quisque volutpat mattis eros viverra</li>
                    <li>Nullam malesuada erat ut turpis suspendisse urna nibh</li>
                  </ul>
                </div>
                <div class="theme-ctas ">
                  <a href="https://www.example.com/" class="button button--primary"> Learn More </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end widget-span -->
    </div>
    <!--end row-->
  </div>
  <!--end row-wrapper -->