<div class="row-fluid-wrapper row-depth-1 row-number-2 main_content-row-0-padding dnd-section">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
        <div id="hs_cos_wrapper_main_content-dnd_partial-2-module-1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
          <div id="main" class="lazy module-wrapper counters-wrapper ">
            <div class="module-wrapper__background"></div>
            <div class="module-wrapper__inner">
              <div class="row-fluid">
                <div class="counter widget-span span4 text--center">
                  <div class="counter-number__wrapper h2">
                    <span class="purecounter count-title count-number">Blue 7</span>
                  </div>
                  <p class="counter-text">Team</p>
                </div>
                <div class="counter widget-span span4 text--center">
                  <div class="counter-number__wrapper h2">
                    <span class="purecounter count-title count-number" >36</span>
                  </div>
                  <p class="counter-text">Total Members</p>
                </div>
                <div class="counter widget-span span4 text--center">
                  <div class="counter-number__wrapper h2">
                    <span class="purecounter count-title count-number">25</span>
                  </div>
                  <p class="counter-text">Total Scans</p>
                </div>
                <div class="counter widget-span span4 text--center">
                  <div class="counter-number__wrapper h2">
                    <span class="purecounter count-title count-number">5</span>
                  </div>
                  <p class="counter-text">Global Leaderboard Rank</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end widget-span -->
    </div>
    <!--end row-->
  </div>