<div class="row-fluid-wrapper row-depth-1 row-number-2 main_content-row-1-padding dnd-section">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
        <div id="hs_cos_wrapper_main_content-dnd_partial-2-module-1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
          <div id="main" class="lazy module-wrapper counters-wrapper ">
            <div class="module-wrapper__background"></div>
            <div class="module-wrapper__inner">
              <div class="row-fluid">
                <div class="counter widget-span span4 text--center">
                  <div class="counter-number__wrapper h2">
                    <span class="purecounter count-title count-number" data-purecounter-start="2000" data-purecounter-end="2018" data-purecounter-separator="false" data-purecounter-duration="0">2018</span>
                  </div>
                  <p class="counter-text">Founded in a Basement</p>
                </div>
                <div class="counter widget-span span4 text--center">
                  <div class="counter-number__wrapper h2">
                    <span class="purecounter count-title count-number" data-purecounter-start="0" data-purecounter-end="5000" data-purecounter-separator="true" data-purecounter-duration="0">5,000</span>
                  </div>
                  <p class="counter-text">Happy Customers and Counting</p>
                </div>
                <div class="counter widget-span span4 text--center">
                  <div class="counter-number__wrapper h2">
                    <span class="purecounter count-title count-number" data-purecounter-start="0" data-purecounter-end="25" data-purecounter-separator="false" data-purecounter-duration="0">25</span>
                  </div>
                  <p class="counter-text">Hardworking People in Our Office</p>
                </div>
                <div class="counter widget-span span4 text--center">
                  <div class="counter-number__wrapper h2">
                    <span class="purecounter count-title count-number" data-purecounter-start="1" data-purecounter-end="10" data-purecounter-separator="false" data-purecounter-duration="0">10</span>
                    <span class="counter-affix">k</span>
                  </div>
                  <p class="counter-text">Given to Charity in the Last Year</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end widget-span -->
    </div>
    <!--end row-->
  </div>