<div class="row-fluid-wrapper row-depth-1 row-number-1 dnd-section footer_dnd_main-row-0-padding">
    <div class="row-fluid ">
        <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
        <div id="hs_cos_wrapper_footer_dnd_main-module-1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
            <hr style="
                width: 100%;
                border: 0 none;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: rgba(255, 255, 255, 1.0);
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
                margin-bottom: 0;
            ">
        </div>
        </div>
        <!--end widget-span -->
    </div>
    <!--end row-->
</div>