<header id="site-header" class="site-header site-header--sticky hs-search-hidden site-header--scrolled">
    <a href="/" id="skip-link"></a>
    <div class="container-fluid site-header__main">
      <div class="row-fluid-wrapper">
         <div class="row-fluid">
            <div class="span12 widget-span widget-type-cell " data-widget-type="cell" data-x="0" data-w="12">
               <div class="row-fluid-wrapper row-depth-1 row-number-1 dnd-section header-row-0-max-width-section-centering header-row-0-padding header-row-0-background-color">
                  <div class="row-fluid ">
                     <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
                        <div class="site-header__main-wrapper">
                           <span id="hs_cos_wrapper_header-module-1_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo" data-hs-cos-general-type="widget" data-hs-cos-type="logo"><a href="https://www.lyntonweb.com/" id="hs-link-header-module-1_" style="border-width:0px;border:0px;">
                             <img src="img/logo.png" class="hs-image-widget " style="height: auto;width:150px;border-width:0px;border:0px;" alt="Brightlane" title="Brightlane">
                           </a></span>
                           <nav aria-label="Main menu" class="site-header__menu-wrapper">
                              <button class="site-header__toggle site-header__toggle--menu" aria-haspopup="true" aria-expanded="false">
                              <span class="screen-reader-text">Toggle Menu</span>
                              </button>
                              <div class="site-header__menu" data-menu-depth="1" id="">
                                 <ul class="site-header__navigation">
                                    <li class="hs-menu-item hs-menu-depth-1">
                                        <a routerLink="" ariaCurrentWhenActive="page" class="hs-menu-link">
                                        <span class="hs-menu-label">Home</span>
                                        </a>
                                     </li>
                                    <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children">
                                       <span class="hs-menu-link active-branch" data-menu-label="Templates">
                                       <span class="hs-menu-label">Activities</span>
                                       </span>
                                       <button class="hs-menu-child-toggle" aria-haspopup="true" aria-expanded="false" aria-controls="-1">
                                          <span class="screen-reader-text">Toggle children for Templates</span>
                                          <svg viewBox="0 0 24 24" width="24" height="24" class="theme-icon theme-icon--chevron-down" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                                             <polyline points="6 9 12 15 18 9" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></polyline>
                                          </svg>
                                       </button>
                                       <div class="hs-menu-children-wrapper" data-menu-depth="2" id="-1">
                                          <div class="hs-menu-breadcrumbs">
                                             <button class="hs-menu-return">
                                                <svg viewBox="0 0 24 24" width="24" height="24" class="theme-icon theme-icon--chevron-down" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                                                   <polyline points="6 9 12 15 18 9" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></polyline>
                                                </svg>
                                                Main Menu
                                                <span class="screen-reader-text">(Press to Return)</span>
                                             </button>
                                             <span class="hs-menu-child-title">&gt; Templates</span>
                                          </div>
                                          <ul class="hs-menu-children-list">
                                             <li class="hs-menu-item hs-menu-depth-2">
                                                <a routerLink="/qr-dashboard" ariaCurrentWhenActive="page" class="hs-menu-link" data-menu-label="Home">
                                                    <span class="hs-menu-label">QR Dashboard</span>
                                                </a>
                                             </li>
                                             <li class="hs-menu-item hs-menu-depth-2">
                                                <a routerLink="/leader-dashboard" class="hs-menu-link" data-menu-label="Landing Page">
                                                <span class="hs-menu-label">Leaderboard</span>
                                                </a>
                                             </li>
                                             <li class="hs-menu-item hs-menu-depth-2">
                                                <a href="" class="hs-menu-link" data-menu-label="About">
                                                <span class="hs-menu-label">Digiverse Marathon</span>
                                                </a>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>
                                    <li class="hs-menu-item hs-menu-depth-1">
                                       <a routerLink="/tech-support" ariaCurrentWhenActive="page" class="hs-menu-link" data-menu-label="Support">
                                            <span class="hs-menu-label">Tech Support</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <ul class="site-header__utility">
                                    <li class="hs-menu-depth-1 hs-menu-item hs-menu-item--search">
                                       <form class="search-form site-header__search" action="">
                                          <div class="search-form__inner container" role="search">
                                             <label class="search-form__label screen-reader-text" for="header-search">Search</label>
                                             <input type="search" class="search-form__input" value="" id="header-search" name="term" placeholder="Search">
                                             <button class="search-form__submit" type="submit">
                                                <span class="screen-reader-text">Submit Search</span>
                                                <svg viewBox="0 0 16.414 16.414" width="16.414" height="16.414" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="theme-icon theme-icon--search" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                                                   <g transform="translate(-2 -2)">
                                                      <circle cx="5.5" cy="5.5" r="5.5" transform="translate(3 3)"></circle>
                                                      <line x1="4.35" y1="4.35" transform="translate(12.65 12.65)"></line>
                                                   </g>
                                                </svg>
                                             </button>
                                          </div>
                                       </form>
                                    </li>
                                    <li class="hs-menu-depth-1 hs-menu-item ">
                                       <a href="" class="button button--secondary hide-lt-menu-break">
                                       Booth Login
                                       </a>
                                       <a href="" class="button button--primary hide-gt-menu-break">
                                       Booth Login
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </nav>
                        </div>

                     </div>
                     <!--end widget-span -->
                  </div>
                  <!--end row-->
               </div>
               <!--end row-wrapper -->
            </div>
            <!--end widget-span -->
         </div>
      </div>
   </div>
  </header>