<div class="row-fluid-wrapper row-depth-1 row-number-2 dnd-section footer_dnd_main-row-1-padding footer_dnd_main-row-1-vertical-alignment">
    <div class="row-fluid ">
      <div class="span3 widget-span widget-type-cell footer_dnd_main-column-2-vertical-alignment dnd-column" data-widget-type="cell" data-x="0" data-w="3">
        <div class="row-fluid-wrapper row-depth-1 row-number-3 dnd-row">
          <div class="row-fluid ">
            <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
              <div id="hs_cos_wrapper_footer_dnd_main-module-3" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-logo" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                <span id="hs_cos_wrapper_footer_dnd_main-module-3_hs_logo_widget" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo" data-hs-cos-general-type="widget" data-hs-cos-type="logo">
                  <a href="https://www.lyntonweb.com/" id="hs-link-footer_dnd_main-module-3_hs_logo_widget" style="border-width:0px;border:0px;">
                    <img src="img/logo.png" class="hs-image-widget" style="height: auto;width:175px;border-width:0px;border:0px;" alt="Digiverse Arena" title="Digiverse Arena">
                  </a>
                </span>
              </div>
            </div>
            <!--end widget-span -->
          </div>
          <!--end row-->
        </div>
        <!--end row-wrapper -->
      </div>
      <!--end widget-span -->
      <div class="span2 widget-span widget-type-cell footer_dnd_main-column-4-vertical-alignment dnd-column" data-widget-type="cell" data-x="3" data-w="2">
        <div class="row-fluid-wrapper row-depth-1 row-number-4 dnd-row">
          <div class="row-fluid ">
          </div>
          <!--end row-->
        </div>
        <!--end row-wrapper -->
      </div>
      <!--end widget-span -->
      <div class="span3 widget-span widget-type-cell footer_dnd_main-column-6-vertical-alignment dnd-column" data-widget-type="cell" data-x="5" data-w="3">
        <div class="row-fluid-wrapper row-depth-1 row-number-5 dnd-row">
          <div class="row-fluid ">
            <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
              <div id="hs_cos_wrapper_footer_dnd_main-module-7" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-simple_menu" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                <span id="hs_cos_wrapper_footer_dnd_main-module-7_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
                  <div id="hs_menu_wrapper_footer_dnd_main-module-7_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
                    <ul role="menu">
                      <li class="hs-menu-item hs-menu-depth-1" role="none">
                        <a href="" role="menuitem" target="_self">Main Pages</a>
                      </li>
                      <li class="hs-menu-item hs-menu-depth-1" role="none">
                        <a href="" role="menuitem" target="_self">Landing Page</a>
                      </li>
                      <li class="hs-menu-item hs-menu-depth-1" role="none">
                        <a href="" role="menuitem" target="_self">Blog</a>
                      </li>
                    </ul>
                  </div>
                </span>
              </div>
            </div>
            <!--end widget-span -->
          </div>
          <!--end row-->
        </div>
        <!--end row-wrapper -->
      </div>
      <!--end widget-span -->

    </div>
    <!--end row-->
  </div>