<div class="row-fluid-wrapper row-depth-1 row-number-1 main_content-row-0-force-full-width-section dnd-section main_content-row-0-padding">
    <div class="row-fluid ">
        <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
            <div id="hs_cos_wrapper_main_content-dnd_partial-1-module-1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                <div id="main_content-dnd_partial-1-module-1" class="lazy module-wrapper hero scanline-background">
                <div class="module-wrapper__background"></div>
                <div class="module-wrapper__inner">
                    <div class="row-fluid theme-text-and-image-wrapper placement--right placement-mobile--above vertical-align--top has-arrow">
                        <div class="hero__media hero__media--image widget-span span6">
                            <img src="img/bg-img-1.jpg" alt="" width="750" height="850" class="animate animate--fade-animate animate--fade-down animate--active" loading="lazy" >
                        </div>
                        <div class="hero__text widget-span span6">
                            <div class="theme-rich-text  text--left">
                            <div class="theme-rich-text__main">
                                <p class="eyebrow">
                                    <span class="eyebrow__part">Aug 22-23, 2024</span>
                                    <!-- <span class="eyebrow__part">Xylem, Whitefield, KA</span> -->
                                </p>
                                <h1>
                                    Digiverse
                                    ARENA
                                </h1>
                                <div class="subheading">Brightlane is a versatile and easy-to-use theme that can transform your scaling business with little effort. Made with care by HubSpot experts, Brightlane is responsive and customizable for your specific business needs.</div>
                            </div>
                            <div class="theme-ctas ">
                                <a href="/" class="button button--primary">Booth Login</a>
                                <button class="button button--secondary theme-video-link" aria-controls="main_content-dnd_partial-1-module-1-1-video">
                                    <span class="button--play">
                                        <svg width="22" height="22" viewBox="0 0 22 22" class="theme-icon theme-icon--play" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="10" cy="10" r="10" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(1 1)"></circle>
                                        <path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m9 7 6 4-6 4Z"></path>
                                        </svg>
                                    </span>
                                    Watch Video
                                </button>
                            </div>
                            <div class="dialog-wrapper" id="main_content-dnd_partial-1-module-1-1-video" data-init="true">
                                <div class="dialog" role="dialog" tabindex="0" aria-label="Video Player">
                                    <button class="dialog__close" aria-label="Close Video Player" type="button">×</button>
                                    <div class="dialog__content" role="document">
                                        <figure class="theme-video-embed">
                                        <template class="theme-video-embed__embed"></template>
                                        <div class="hs-responsive-embed theme-video-embed__screen"></div>
                                        <figcaption class="theme-video-embed__description">
                                            <p><a href="https://themes.lyntonweb.com/brightlane#" target="_blank">Open video transcript in new window.</a></p>
                                        </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <a href="https://themes.lyntonweb.com/brightlane#main" class="hero__down-arrow">
                                <span class="screen-reader-text">Next Section</span>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!--end widget-span -->
    </div>
    <!--end row-->
</div>