<app-header></app-header>
<div class="row-fluid-wrapper row-depth-1 row-number-5 dnd-section main_content-row-0-padding">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-cell dnd-column" data-widget-type="cell" data-x="0" data-w="12">
        <div class="row-fluid-wrapper row-depth-1 row-number-6 dnd-row">
          <div class="row-fluid ">
            <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
              <div id="hs_cos_wrapper_main_content-dnd_partial-4-module-2" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                <div id="main_content-dnd_partial-4-module-2" class="lazy module-wrapper featured-plain featured-plain__top scanline-background">
                  <div class="module-wrapper__background"></div>
                  <div class="module-wrapper__inner">
                    <div class="theme-rich-text heading text--center">
                      <div class="theme-rich-text__main">
                        <p class="eyebrow">
                          <span class="eyebrow__part">Technical Support Centre</span>
                        </p>
                        <h2 class="theme-rich-text__heading"> At your disposal </h2>
                        <div class="subheading">Feel free to reach out to any of the team members listed below for assistance. We're here to help and ensure your needs are met!</div>
                      </div>
                    </div>
                    <div class="featured-plain__items
      text--left
      
      featured-plain__eyebrow-spacing">
                      <div class="row-fluid">
                        <div class="widget-span span4">
                          <div class="featured-plain--item
                featured-plain--item-top">
                            <div class="featured-plain--item-icon featured-plain--item-icon--centre">
                                <img src="img/vinith-avatar.png" style="width: 150px; height: 150px; border-radius: 50%;">
                            </div>
                            <div class="theme-rich-text featured-plain--item-text text--center">
                                <div class="theme-rich-text__main">
                                  <h5> Vinith Kumar Vijay </h5>
                                  <p>Email: vinith-kumar.vijay&#64;airbus.com </p>
                                  <p>Phone: +91-9403976706 </p>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="widget-span span4">
                          <div class="featured-plain--item
                featured-plain--item-top">
                            <div class="featured-plain--item-icon featured-plain--item-icon--centre">
                                <img src="img/simran-avatar.png" style="width: 150px; height: 150px; border-radius: 50%;">
                            </div>
                            <div class="theme-rich-text featured-plain--item-text text--center">
                              <div class="theme-rich-text__main">
                                <h5> Simran Sunil Nazareth </h5>
                                <p>Email: simran-sunil.nazareth&#64;airbus.com </p>
                                <p>Phone: +91-9403976706 </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="widget-span span4">
                          <div class="featured-plain--item
                featured-plain--item-top">
                            <div class="featured-plain--item-icon featured-plain--item-icon--centre">
                                <img src="img/nihar-avatar.png" style="width: 150px; height: 150px; border-radius: 50%;">
                            </div>
                            <div class="theme-rich-text featured-plain--item-text text--center">
                                <div class="theme-rich-text__main">
                                  <h5> Nihar Salunke </h5>
                                  <p>Email: nihar.salunke&#64;airbus.com </p>
                                  <p>Phone: +91-9403976706 </p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end widget-span -->
          </div>
          <!--end row-->
        </div>
        <!--end row-wrapper -->
      </div>
      <!--end widget-span -->
    </div>
    <!--end row-->
  </div>
  <!--end row-wrapper -->