<div class="row-fluid-wrapper row-depth-1 row-number-1 dnd-section main_content-row-0-max-width-section-centering main_content-row-0-padding">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
        <div id="hs_cos_wrapper_main_content-dnd_partial-1-module-1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
          <div id="main_content-dnd_partial-1-module-1" class="lazy module-wrapper hero-carousel hero-carousel--boxin ">
            <div class="module-wrapper__background"></div>
            <div class="module-wrapper__inner">
              <div class="splide splide--loop splide--ltr splide--draggable is-active is-overflow is-initialized" data-splide="{&quot;arrows&quot;:false,&quot;autoplay&quot;:false,&quot;i18n&quot;:{&quot;first&quot;:&quot;Go to First Slide&quot;,&quot;last&quot;:&quot;Go to Last Slide&quot;,&quot;next&quot;:&quot;Next Slide&quot;,&quot;pageX&quot;:null,&quot;pause&quot;:&quot;Pause&quot;,&quot;play&quot;:&quot;Play&quot;,&quot;prev&quot;:&quot;Previous Slide&quot;},&quot;interval&quot;:0,&quot;pagination&quot;:true,&quot;perMove&quot;:1,&quot;perPage&quot;:1,&quot;rewind&quot;:false,&quot;type&quot;:&quot;loop&quot;}" id="slider0" role="region" aria-roledescription="carousel">
                <div class="splide__track splide__track--loop splide__track--ltr splide__track--draggable" id="slider0-track" style="padding-left: 0px; padding-right: 0px;" aria-live="polite" aria-atomic="true">
                  <div class="splide__list" id="slider0-list" role="presentation" style="transform: translateX(-3320px);">
                    <div class="hero-carousel__slide module-wrapper splide__slide scanline-background splide__slide--clone" style="--background-image: url(&#39;https://themes.lyntonweb.com/hubfs/raw_assets/public/asset-marketplace/brightlane-plus/assets/images/img-hero-carousel.png&#39;); width: calc(100%);" id="slider0-clone01" role="tabpanel" aria-roledescription="slide" aria-label="2 of 3" aria-hidden="true">
                      <div class="module-wrapper__background"></div>
                      <div class="module-wrapper__inner">
                        <div class="theme-rich-text  text--center">
                          <div class="theme-rich-text__main">
                            <p class="eyebrow">
                              <span class="eyebrow__part">May 14-16, 2023</span>
                              <span class="eyebrow__part">May 14-16, 2023</span>
                            </p>
                            <h1 class="theme-rich-text__heading"> Are You Ready? </h1>
                            <div class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Donec odio. Quisque volutpat mattis eros. </div>
                          </div>
                          <div class="theme-ctas ">
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hero-carousel__slide module-wrapper splide__slide scanline-background splide__slide--clone is-prev" style="--background-image: url(&#39;https://themes.lyntonweb.com/hubfs/raw_assets/public/asset-marketplace/brightlane-plus/assets/images/img-hero-carousel.png&#39;); width: calc(100%);" id="slider0-clone02" role="tabpanel" aria-roledescription="slide" aria-label="3 of 3" aria-hidden="true">
                      <div class="module-wrapper__background"></div>
                      <div class="module-wrapper__inner">
                        <div class="theme-rich-text  text--center">
                          <div class="theme-rich-text__main">
                            <p class="eyebrow">
                              <span class="eyebrow__part">May 14-16, 2023</span>
                              <span class="eyebrow__part">May 14-16, 2023</span>
                            </p>
                            <h1 class="theme-rich-text__heading"> Are You Ready? </h1>
                            <div class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Donec odio. Quisque volutpat mattis eros. </div>
                          </div>
                          <div class="theme-ctas ">
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hero-carousel__slide module-wrapper splide__slide scanline-background is-active is-visible" style="--background-image: url(&#39;https://themes.lyntonweb.com/hubfs/raw_assets/public/asset-marketplace/brightlane-plus/assets/images/img-hero-carousel.png&#39;); --background-overlay: rgba(0, 0, 0, 50%); width: calc(100%);" id="slider0-slide01" role="tabpanel" aria-roledescription="slide" aria-label="1 of 3">
                      <div class="module-wrapper__background"></div>
                      <div class="module-wrapper__inner">
                        <div class="theme-rich-text  text--center">
                          <div class="theme-rich-text__main">
                            <p class="eyebrow">
                              <span class="eyebrow__part">May 14-16, 2023</span>
                              <span class="eyebrow__part">May 14-16, 2023</span>
                            </p>
                            <h1 class="theme-rich-text__heading"> Are You Ready? </h1>
                            <div class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Donec odio. Quisque volutpat mattis eros. </div>
                          </div>
                          <div class="theme-ctas ">
                            <a href="https://www.example.com/" class="button button--primary"> Register Now </a>
                            <a href="https://www.example.com/" class="button button--primary"> Register Now </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hero-carousel__slide module-wrapper splide__slide scanline-background is-next" style="--background-image: url(&#39;https://themes.lyntonweb.com/hubfs/raw_assets/public/asset-marketplace/brightlane-plus/assets/images/img-hero-carousel.png&#39;); width: calc(100%);" id="slider0-slide02" role="tabpanel" aria-roledescription="slide" aria-label="2 of 3" aria-hidden="true">
                      <div class="module-wrapper__background"></div>
                      <div class="module-wrapper__inner">
                        <div class="theme-rich-text  text--center">
                          <div class="theme-rich-text__main">
                            <p class="eyebrow">
                              <span class="eyebrow__part">May 14-16, 2023</span>
                              <span class="eyebrow__part">May 14-16, 2023</span>
                            </p>
                            <h1 class="theme-rich-text__heading"> Are You Ready? </h1>
                            <div class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Donec odio. Quisque volutpat mattis eros. </div>
                          </div>
                          <div class="theme-ctas ">
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hero-carousel__slide module-wrapper splide__slide scanline-background" style="--background-image: url(&#39;https://themes.lyntonweb.com/hubfs/raw_assets/public/asset-marketplace/brightlane-plus/assets/images/img-hero-carousel.png&#39;); width: calc(100%);" id="slider0-slide03" role="tabpanel" aria-roledescription="slide" aria-label="3 of 3" aria-hidden="true">
                      <div class="module-wrapper__background"></div>
                      <div class="module-wrapper__inner">
                        <div class="theme-rich-text  text--center">
                          <div class="theme-rich-text__main">
                            <p class="eyebrow">
                              <span class="eyebrow__part">May 14-16, 2023</span>
                              <span class="eyebrow__part">May 14-16, 2023</span>
                            </p>
                            <h1 class="theme-rich-text__heading"> Are You Ready? </h1>
                            <div class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Donec odio. Quisque volutpat mattis eros. </div>
                          </div>
                          <div class="theme-ctas ">
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hero-carousel__slide module-wrapper splide__slide scanline-background splide__slide--clone is-active" style="--background-image: url(&#39;https://themes.lyntonweb.com/hubfs/raw_assets/public/asset-marketplace/brightlane-plus/assets/images/img-hero-carousel.png&#39;); --background-overlay: rgba(0, 0, 0, 50%); width: calc(100%);" id="slider0-clone03" role="tabpanel" aria-roledescription="slide" aria-label="1 of 3" aria-hidden="true">
                      <div class="module-wrapper__background"></div>
                      <div class="module-wrapper__inner">
                        <div class="theme-rich-text  text--center">
                          <div class="theme-rich-text__main">
                            <p class="eyebrow">
                              <span class="eyebrow__part">May 14-16, 2023</span>
                              <span class="eyebrow__part">May 14-16, 2023</span>
                            </p>
                            <h1 class="theme-rich-text__heading"> Are You Ready? </h1>
                            <div class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Donec odio. Quisque volutpat mattis eros. </div>
                          </div>
                          <div class="theme-ctas ">
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hero-carousel__slide module-wrapper splide__slide scanline-background splide__slide--clone" style="--background-image: url(&#39;https://themes.lyntonweb.com/hubfs/raw_assets/public/asset-marketplace/brightlane-plus/assets/images/img-hero-carousel.png&#39;); width: calc(100%);" id="slider0-clone04" role="tabpanel" aria-roledescription="slide" aria-label="2 of 3" aria-hidden="true">
                      <div class="module-wrapper__background"></div>
                      <div class="module-wrapper__inner">
                        <div class="theme-rich-text  text--center">
                          <div class="theme-rich-text__main">
                            <p class="eyebrow">
                              <span class="eyebrow__part">May 14-16, 2023</span>
                              <span class="eyebrow__part">May 14-16, 2023</span>
                            </p>
                            <h1 class="theme-rich-text__heading"> Are You Ready? </h1>
                            <div class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Donec odio. Quisque volutpat mattis eros. </div>
                          </div>
                          <div class="theme-ctas ">
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                            <a href="https://www.example.com/" class="button button--primary" tabindex="-1"> Register Now </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="splide__pagination splide__pagination--ltr" role="tablist" aria-label="Select a slide to show">
                  <li role="presentation">
                    <button class="splide__pagination__page is-active" type="button" role="tab" aria-controls="slider0-slide01" aria-label="Go to slide 1" aria-selected="true"></button>
                  </li>
                  <li role="presentation">
                    <button class="splide__pagination__page" type="button" role="tab" aria-controls="slider0-slide02" aria-label="Go to slide 2" tabindex="-1"></button>
                  </li>
                  <li role="presentation">
                    <button class="splide__pagination__page" type="button" role="tab" aria-controls="slider0-slide03" aria-label="Go to slide 3" tabindex="-1"></button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end widget-span -->
    </div>
    <!--end row-->
  </div>
  <!--end row-wrapper -->