<div class="row-fluid-wrapper row-depth-1 row-number-7 main_content-row-4-padding dnd-section main_content-row-4-force-full-width-section">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
        <div id="hs_cos_wrapper_main_content-dnd_partial-5-module-1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
          <div id="main_content-dnd_partial-5-module-1" class="lazy module-wrapper ring-gallery " style="--diameter: 1903px;">
            <div class="module-wrapper__background"></div>
            <div class="module-wrapper__inner">
              <div class="ring-gallery__wrapper">
                <ul class="ring-gallery__track" tabindex="0">
                  <li style="--index: -5.0;" class="ring-gallery__slide" data-current="true">
                    <img src="img/ring-carousel-pl-1.jpg" alt="" width="355" height="486" class=" " loading="lazy" draggable="false" sizes="(max-width: 355px) 100vw, 355px">
                  </li>
                  <li style="--index: -4.0;" class="ring-gallery__slide" data-current="false">
                    <img src="img/ring-carousel-pl-2.jpg" alt="" width="355" height="486" class=" " loading="lazy" draggable="false" sizes="(max-width: 355px) 100vw, 355px">
                  </li>
                  <li style="--index: -3.0;" class="ring-gallery__slide" data-current="false">
                    <img src="img/ring-carousel-pl-3.jpg" alt="" width="355" height="486" class=" " loading="lazy" draggable="false" sizes="(max-width: 355px) 100vw, 355px">
                  </li>
                  <li style="--index: -2.0;" class="ring-gallery__slide" data-current="false">
                    <img src="img/ring-carousel-pl-4.jpg" alt="" width="355" height="486" class=" " loading="lazy" draggable="false" sizes="(max-width: 355px) 100vw, 355px">
                  </li>
                  <li style="--index: -1.0;" class="ring-gallery__slide" data-current="false">
                    <img src="img/ring-carousel-pl-5.jpg" alt="" width="355" height="486" class=" " loading="lazy" draggable="false" sizes="(max-width: 355px) 100vw, 355px">
                  </li>
                  <li style="--index: 0.0;" class="ring-gallery__slide" data-current="false">
                    <img src="img/ring-carousel-pl-6.jpg" alt="" width="355" height="486" class=" " loading="lazy" draggable="false" sizes="(max-width: 355px) 100vw, 355px">
                  </li>
                  <li style="--index: 1.0;" class="ring-gallery__slide" data-current="false">
                    <img src="img/ring-carousel-pl-7.jpg" alt="" width="355" height="486" class=" " loading="lazy" draggable="false" sizes="(max-width: 355px) 100vw, 355px">
                  </li>
                  <li style="--index: 2.0;" class="ring-gallery__slide" data-current="false">
                    <img src="img/ring-carousel-pl-1.jpg" alt="" width="355" height="486" class=" " loading="lazy" draggable="false" sizes="(max-width: 355px) 100vw, 355px">
                  </li>
                  <li style="--index: 3.0;" class="ring-gallery__slide" data-current="false">
                    <img src="img/ring-carousel-pl-2.jpg" alt="" width="355" height="486" class=" " loading="lazy" draggable="false" sizes="(max-width: 355px) 100vw, 355px">
                  </li>
                  <li style="--index: 4.0;" class="ring-gallery__slide" data-current="false">
                    <img src="img/ring-carousel-pl-3.jpg" alt="" width="355" height="486" class=" " loading="lazy" draggable="false" sizes="(max-width: 355px) 100vw, 355px">
                  </li>
                </ul>
              </div>
              <p class="ring-gallery__instructions ring-gallery__instructions--mouse h5">
                <span class="ring-gallery__arrow ring-gallery__arrow--left"></span>
                <span>Click + Drag To Explore</span>
                <span class="ring-gallery__arrow ring-gallery__arrow--right"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--end widget-span -->
    </div>
    <!--end row-->
  </div>
  <!--end row-wrapper -->