<div class="row-fluid-wrapper row-depth-1 row-number-5 dnd-section">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
          <div id="hs_cos_wrapper_main_content-dnd_partial-5-module-1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
            <div id="main_content-dnd_partial-5-module-1" class="lazy module-wrapper timeline-wrapper ">
                <div class="module-wrapper__background"></div>
                <div class="module-wrapper__inner">
                  <div class="theme-rich-text heading text--center">
                      <div class="theme-rich-text__main">
                        <p class="eyebrow">
                            <span class="eyebrow__part">Eyebrow Lorem</span>
                        </p>
                        <h2>
                            Jam-Packed Agenda
                        </h2>
                        <div class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.<br>Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</div>
                      </div>
                  </div>
                  <div class="tabs tabs--timline tabs--horizontal" data-direction="horizontal">
                      <section class="tabs__body active" id="main_content-dnd_partial-5-module-1-1" role="tabpanel" tabindex="0" aria-label="Tab 1 of 1">
                        <div class="tabs__body-content">
                            <ol class="timeline" style="--items: 4;">
                              <li class="timeline-event module-wrapper--base" style="--index: 0;">
                                  <details>
                                    <summary>
                                        <div class="timeline-event__summary">
                                          <p class="eyebrow">
                                              <span class="eyebrow__part">Event Time</span>
                                              <span class="eyebrow__part">Event Time</span>
                                          </p>
                                          <h3 class="h5">Event Title</h3>
                                          <p><strong>James T. Kirk</strong><br>VP of Statistical Analysis + Data Reconfiguration</p>
                                        </div>
                                    </summary>
                                    <div class="accordion-content">
                                        <div class="timeline-event__details">
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Lorem ispum dolor sit amet.</p>
                                          <div class="theme-ctas ">
                                              <a href="https://www.example.com/" class="button button--text-link">Read More About This Session</a>
                                          </div>
                                        </div>
                                    </div>
                                  </details>
                              </li>
                              <li class="timeline-event module-wrapper--base" style="--index: 1;">
                                  <details>
                                    <summary>
                                        <div class="timeline-event__summary">
                                          <p class="eyebrow">
                                              <span class="eyebrow__part">Event Time</span>
                                              <span class="eyebrow__part">Event Time</span>
                                          </p>
                                          <h3 class="h5">Event Title</h3>
                                          <p><strong>James T. Kirk</strong><br>VP of Statistical Analysis + Data Reconfiguration</p>
                                        </div>
                                    </summary>
                                    <div class="accordion-content">
                                        <div class="timeline-event__details">
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Lorem ispum dolor sit amet.</p>
                                          <div class="theme-ctas ">
                                              <a href="https://www.example.com/" class="button button--text-link">Read More About This Session</a>
                                          </div>
                                        </div>
                                    </div>
                                  </details>
                              </li>
                              <li class="timeline-event module-wrapper--base" style="--index: 2;">
                                  <details>
                                    <summary>
                                        <div class="timeline-event__summary">
                                          <p class="eyebrow">
                                              <span class="eyebrow__part">Event Time</span>
                                              <span class="eyebrow__part">Event Time</span>
                                          </p>
                                          <h3 class="h5">Event Title</h3>
                                          <p><strong>James T. Kirk</strong><br>VP of Statistical Analysis + Data Reconfiguration</p>
                                        </div>
                                    </summary>
                                    <div class="accordion-content">
                                        <div class="timeline-event__details">
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Lorem ispum dolor sit amet.</p>
                                          <div class="theme-ctas ">
                                              <a href="https://www.example.com/" class="button button--text-link">Read More About This Session</a>
                                          </div>
                                        </div>
                                    </div>
                                  </details>
                              </li>
                              <li class="timeline-event module-wrapper--base" style="--index: 3;">
                                  <details>
                                    <summary>
                                        <div class="timeline-event__summary">
                                          <p class="eyebrow">
                                              <span class="eyebrow__part">Event Time</span>
                                              <span class="eyebrow__part">Event Time</span>
                                          </p>
                                          <h3 class="h5">Event Title</h3>
                                          <p><strong>James T. Kirk</strong><br>VP of Statistical Analysis + Data Reconfiguration</p>
                                        </div>
                                    </summary>
                                    <div class="accordion-content">
                                        <div class="timeline-event__details">
                                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Lorem ispum dolor sit amet.</p>
                                          <div class="theme-ctas ">
                                              <a href="https://www.example.com/" class="button button--text-link">Read More About This Session</a>
                                          </div>
                                        </div>
                                    </div>
                                  </details>
                              </li>
                            </ol>
                        </div>
                      </section>
                  </div>
                  <div class="theme-ctas ">
                      <a href="https://www.example.com/" class="button button--primary">View the Full Agenda</a>
                  </div>
                </div>
            </div>
          </div>
      </div>
      <!--end widget-span -->
    </div>
  <!--end row-->
  </div>
  <script src="js/module_80541270437_Timeline.min.js.download"></script>
