<div class="row-fluid-wrapper row-depth-1 row-number-8 main_content-row-5-padding dnd-section">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-custom_widget dnd-module" data-widget-type="custom_widget" data-x="0" data-w="12">
        <div id="hs_cos_wrapper_main_content-dnd_partial-6-module-1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
          <div id="main_content-dnd_partial-6-module-1" class="lazy module-wrapper comparison-table comparison-table--has-left-border ">
            <div class="module-wrapper__background"></div>
            <div class="module-wrapper__inner">
              <div class="theme-rich-text heading heading--small text--center">
                <div class="theme-rich-text__main">
                  <p class="eyebrow">
                    <span class="eyebrow__part">Eyebrow Lorem</span>
                  </p>
                  <h2 class="theme-rich-text__heading"> Get Your Front Row Seat </h2>
                  <div class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. <br>Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </div>
                </div>
              </div>
              <table class="comparison-table__table">
                <thead>
                  <tr>
                    <th scope="col">
                      <span class="screen-reader-text">Features</span>
                    </th>
                    <th scope="col" class="h4 comparison-table__cell comparison-table__cell--header "> Virtual Access </th>
                    <th scope="col" class="h4 comparison-table__cell comparison-table__cell--header comparison-table__cell--highlight"> All Access </th>
                    <th scope="col" class="h4 comparison-table__cell comparison-table__cell--header "> VIP Access </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="comparison-table__row">
                    <th scope="row" class="subheading comparison-table__cell comparison-table__cell--row-label"> Lorem ipsum dolor sit amet consectetuer </th>
                    <td data-label="Virtual Access" class="comparison-table__cell comparison-table__cell--image ">
                      <img src="img/check-circle.svg" alt="Included" width="25" height="25" class=" " loading="disabled">
                    </td>
                    <td data-label="All Access" class="comparison-table__cell comparison-table__cell--image comparison-table__cell--highlight">
                      <img src="img/check-circle.svg" alt="Included" width="25" height="25" class=" " loading="disabled">
                    </td>
                    <td data-label="VIP Access" class="comparison-table__cell comparison-table__cell--image ">
                      <img src="img/check-circle.svg" alt="Included" width="25" height="25" class=" " loading="disabled">
                    </td>
                  </tr>
                  <tr class="comparison-table__row">
                    <th scope="row" class="subheading comparison-table__cell comparison-table__cell--row-label"> Donec odio quisque volutpat mattist diam </th>
                    <td data-label="Virtual Access" class="comparison-table__cell comparison-table__cell--image ">
                      <img src="img/check-circle.svg" alt="Included" width="25" height="25" class=" " loading="disabled">
                    </td>
                    <td data-label="All Access" class="comparison-table__cell comparison-table__cell--image comparison-table__cell--highlight">
                      <img src="img/check-circle.svg" alt="Included" width="25" height="25" class=" " loading="disabled">
                    </td>
                    <td data-label="VIP Access" class="comparison-table__cell comparison-table__cell--image ">
                      <img src="img/check-circle.svg" alt="Included" width="25" height="25" class=" " loading="disabled">
                    </td>
                  </tr>
                  <tr class="comparison-table__row">
                    <th scope="row" class="subheading comparison-table__cell comparison-table__cell--row-label"> Nullam malesuada erat ut turpist malesuada </th>
                    <td data-label="" class="comparison-table__cell comparison-table__cell--empty "></td>
                    <td data-label="All Access" class="comparison-table__cell comparison-table__cell--image comparison-table__cell--highlight">
                      <img src="img/check-circle.svg" alt="Included" width="25" height="25" class=" " loading="disabled">
                    </td>
                    <td data-label="VIP Access" class="comparison-table__cell comparison-table__cell--image ">
                      <img src="img/check-circle.svg" alt="Included" width="25" height="25" class=" " loading="disabled">
                    </td>
                  </tr>
                  <tr class="comparison-table__row">
                    <th scope="row" class="subheading comparison-table__cell comparison-table__cell--row-label"> Donec odio quisque volutpat mattist odio </th>
                    <td data-label="" class="comparison-table__cell comparison-table__cell--empty "></td>
                    <td data-label="" class="comparison-table__cell comparison-table__cell--empty comparison-table__cell--highlight"></td>
                    <td data-label="VIP Access" class="comparison-table__cell comparison-table__cell--image ">
                      <img src="img/check-circle.svg" alt="Included" width="25" height="25" class=" " loading="disabled">
                    </td>
                  </tr>
                  <tr class="comparison-table__row">
                    <th scope="row" class="subheading comparison-table__cell comparison-table__cell--row-label"> Quisque volutpat mattis eros nullam erat </th>
                    <td data-label="" class="comparison-table__cell comparison-table__cell--empty "></td>
                    <td data-label="" class="comparison-table__cell comparison-table__cell--empty comparison-table__cell--highlight"></td>
                    <td data-label="VIP Access" class="comparison-table__cell comparison-table__cell--image ">
                      <img src="img/check-circle.svg" alt="Included" width="25" height="25" class=" " loading="disabled">
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td class="comparison-table__spacer"></td>
                    <td class="comparison-table__cell comparison-table__cell--footer " data-label="Virtual Access">
                      <span class="h3 comparison-table__footer-text">$199</span>
                    </td>
                    <td class="comparison-table__cell comparison-table__cell--footer comparison-table__cell--highlight" data-label="All Access">
                      <s class="h3 comparison-table__footer-text comparison-table__footer-text--scratched comparison-table__footer-text--scratched--has-image"> $399 <span class="comparison-table__scratch" aria-hidden="true">
                          <img src="img/scratch-through.svg" alt="" width="94" height="14" class=" " loading="lazy">
                        </span>
                      </s>
                      <span class="comparison-table__footer-callout">
                        <a href="">Early Bird Discount: $199</a>
                      </span>
                    </td>
                    <td class="comparison-table__cell comparison-table__cell--footer " data-label="VIP Access">
                      <span class="h3 comparison-table__footer-text">$599</span>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--end widget-span -->
    </div>
    <!--end row-->
  </div>
  <!--end row-wrapper -->