<app-header></app-header>
<div class="row-fluid-wrapper row-depth-1 row-number-16 main_content-row-0-padding dnd-section main_content-row-11-max-width-section-centering">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-cell dnd-column" data-widget-type="cell" data-x="0" data-w="12">
        <div class="row-fluid-wrapper row-depth-1 row-number-17 dnd-row">
          <div class="row-fluid ">
            <div class="span12 widget-span widget-type-custom_widget dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
              <div id="hs_cos_wrapper_main_content-dnd_partial-11-module-2" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                <div id="main_content-dnd_partial-11-module-2" class="lazy module-wrapper  scanline-background">
                  <div class="module-wrapper__background"></div>
                  <div class="module-wrapper__inner">
                    <div class="theme-form-wrapper theme-form-wrapper--boxin">
                      <div class="theme-form  theme-form--label-top theme-form--button-center theme-form--message-center theme-form--boxin">
                        <div class="theme-rich-text heading heading--small text--center">
                          <div class="theme-rich-text__main">
                            <div class="blinking" style="display: flex; justify-content: center;">
                                <img src="img/live-tv.svg">
                                <p class="eyebrow" style=" margin: 0px;">
                                    <span class="eyebrow__part" style="color: red; margin-left: 10px;">LIVE</span>
                                </p>
                            </div>
                            <h2> LEADERBOARD </h2>
                            <!-- <div class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. <br>Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </div> -->
                          </div>
                        </div>

                        <table class="leaderboard-table">
                            <tr>
                                <th class="rank-column leaderboard-column">
                                    Rank
                                </th>
                                <th class="leaderboard-column">
                                    Team
                                </th>
                                <th class="column-column">
                                    Score
                                </th>
                            </tr>
                            <tr>
                                <td class="leaderboard-cells">
                                    1
                                </td>
                                <td class="leaderboard-cells">
                                    Blue 7
                                </td>
                                <td class="leaderboard-cells">
                                    50
                                </td>
                            </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end widget-span -->
          </div>
          <!--end row-->
        </div>
        <!--end row-wrapper -->
      </div>
      <!--end widget-span -->
    </div>
    <!--end row-->
  </div>
  <!--end row-wrapper -->